{% for message in messages %}
  <script>
    alert('{{message}}')
  </script>
{% endfor %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>ECHOSPHERE</title>

  <!-- CSS FILES -->
  <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}" />

  <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin />

  <link
    href="{% static 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap' %}"
    rel="stylesheet" />

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

  <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}" />

  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />

  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" />

  <link href="{% static 'css/templatemo-pod-talk.css' %}" rel="stylesheet" />
</head>

<body style="background-image: url('../static/images/poii.jpg');  ">
  <main>
    <nav class="navbar navbar-expand-lg" style="background-image: url('../static/images/ftr.jpg'); height: 178px;">
      <div class="container">
        <a href="#" style="font-size: 50px;color: rgb(252, 252, 252);position: relative;right: 300px;top:10px;"><b>ECHOSPHERE</b>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="navbarNav" style="position: relative;left:300px;">
          <ul class="navbar-nav ms-lg-auto">
         
            <li class="nav-item">
              <a class="btn custom-btn custom-border-btn smoothscroll" href="/adminDash" style="color: rgb(255, 0, 0);font-size: 25px;">HOME</a>
            </li>&nbsp;&nbsp;

            <li class="nav-item">
              <a class="btn custom-btn custom-border-btn smoothscroll" href="/viewUsers" style="color: rgb(255, 0, 0);font-size: 25px;">VIEW USERS</a>
            </li>&nbsp;&nbsp;

            <li class="nav-item">
              <a class="btn custom-btn custom-border-btn smoothscroll" href="/request" style="color: rgb(255, 0, 0);font-size: 25px;">REQUESTS</a>
            </li>&nbsp;&nbsp;

            <li class="nav-item dropdown">
              <a class="btn custom-btn custom-border-btn smoothscroll" href="#" style="color: rgb(255, 0, 0);font-size: 25px;">BADGE</a>

              <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                <li>
                  <a class="dropdown-item" style="font-size: 18px;"  href="/createBadge"><b>Create Badge</b></a>
                </li>

                <li>
                  <a class="dropdown-item" style="font-size: 18px;" href="/viewBadge"><b>View Badge</b></a>
                </li>

               
              </ul>
            

            {% comment %} <li class="nav-item">
              <a class="nav-link" href="/createBadge">Create Badge</a>
            </li> {% endcomment %}
          </ul>

          <div class="ms-4">
            <a class="btn custom-btn custom-border-btn smoothscroll" href="/" style="color: rgb(255, 0, 0);font-size: 25px;">LOG OUT</a>&nbsp;&nbsp;
          </div>
          <ul class="navbar-nav ms-lg-auto">

            <li class="nav-item">
              <a class="nav-link active" style="font-weight: 900;font-size: 25px; color: red;position: relative;left:70px;" >🧑🏻 ADMIN</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="hero-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-12">
            <div class="owl-carousel owl-theme">
              <div class="owl-carousel-info-wrap item">
                <img
                  src="images/profile/smiling-business-woman-with-folded-hands-against-white-wall-toothy-smile-crossed-arms.jpg"
                  class="owl-carousel-image img-fluid" alt="" />

                <div class="owl-carousel-info">
                  <h4 class="mb-2">
                    Candice
                    <img src="images/verified.png" class="owl-carousel-verified-image img-fluid" alt="" />
                  </h4>

                  <span class="badge">Storytelling</span>

                  <span class="badge">Business</span>
                </div>

                <div class="social-share">
                  <ul class="social-icon">
                    <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-twitter"></a>
                    </li>

                    <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-facebook"></a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="owl-carousel-info-wrap item">
                <img src="images/profile/handsome-asian-man-listening-music-through-headphones.jpg"
                  class="owl-carousel-image img-fluid" alt="" />

                <div class="owl-carousel-info">
                  <h4 class="mb-2">
                    William
                    <img src="images/verified.png" class="owl-carousel-verified-image img-fluid" alt="" />
                  </h4>

                  <span class="badge">Creative</span>

                  <span class="badge">Design</span>
                </div>

                <div class="social-share">
                  <ul class="social-icon">
                    <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-twitter"></a>
                    </li>

                    <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-facebook"></a>
                    </li>

                    <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-pinterest"></a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="owl-carousel-info-wrap item">
                <img src="images/profile/cute-smiling-woman-outdoor-portrait.jpg" class="owl-carousel-image img-fluid"
                  alt="" />

                <div class="owl-carousel-info">
                  <h4 class="mb-2">Taylor</h4>

                  <span class="badge">Modeling</span>

                  <span class="badge">Fashion</span>
                </div>

                <div class="social-share">
                  <ul class="social-icon">
                    <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-twitter"></a>
                    </li>

                    <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-facebook"></a>
                    </li>

                    <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-pinterest"></a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="owl-carousel-info-wrap item">
                <img src="images/profile/man-portrait.jpg" class="owl-carousel-image img-fluid" alt="" />

                <div class="owl-carousel-info">
                  <h4 class="mb-2">Nick</h4>

                  <span class="badge">Acting</span>
                </div>

                <div class="social-share">
                  <ul class="social-icon">
                    <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-instagram"></a>
                    </li>

                    <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-youtube"></a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="owl-carousel-info-wrap item">
                <img src="images/profile/woman-posing-black-dress-medium-shot.jpg" class="owl-carousel-image img-fluid"
                  alt="" />

                <div class="owl-carousel-info">
                  <h4 class="mb-2">
                    Elsa
                    <img src="images/verified.png" class="owl-carousel-verified-image img-fluid" alt="" />
                  </h4>

                  <span class="badge">Influencer</span>
                </div>

                <div class="social-share">
                  <ul class="social-icon">
                    <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-instagram"></a>
                    </li>

                    <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-youtube"></a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="owl-carousel-info-wrap item">
                <img
                  src="images/profile/smart-attractive-asian-glasses-male-standing-smile-with-freshness-joyful-casual-blue-shirt-portrait-white-background.jpg"
                  class="owl-carousel-image img-fluid" alt="" />

                <div class="owl-carousel-info">
                  <h4 class="mb-2">Chan</h4>

                  <span class="badge">Education</span>
                </div>

                <div class="social-share">
                  <ul class="social-icon">
                    <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-linkedin"></a>
                    </li>

                    <li class="social-icon-item">
                      <a href="#" class="social-icon-link bi-whatsapp"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% block content %}

    {% endblock %}
   




  </main>

  <!-- JAVASCRIPT FILES -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>