{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>ECHOSPHERE</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}" />

    <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin />

    <link href="{% static 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap' %}" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}" />

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />

    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" />

    <link href="{% static 'css/templatemo-pod-talk.css' %}" rel="stylesheet" />
<style>
  body::-webkit-scrollbar {
      display: none;}
      
  body{
    overflow: auto;
  }
</style>
   

 
  </head>
  <body style="background-image:url( '../static/media/cover.jpg'); background-repeat: no-repeat; position: relative;bottom: 5px; right:10px;">
    <main>
      <nav class="navbar navbar-expand-lg" style="background-image: url('../static/images/ftr.jpg'); height: 180px;">
        <div class="container">
         
          <a href="#" style="font-size: 50px;color: rgb(252, 252, 252);position: relative;right: 290px;top:10px;"><b>🌎ECHOSPHERE</b>
          </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span></button>

          <div class="collapse navbar-collapse" id="navbarNav" style="position: relative;left: 300px;">
            <ul class="navbar-nav ms-lg-auto">
              <li class="nav-item">
                <a class="btn custom-btn custom-border-btn smoothscroll" href="/" style="color: rgb(255, 255, 255);font-size: 25px;">HOME</a>
              </li>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {% comment %} <li class="nav-item">
                <a class="nav-link" href="#">Posts</a>
              </li> {% endcomment %}

              {% comment %} <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

                <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="listing-page.html">Listing Page</a>
                  </li>

                  <li>
                    <a class="dropdown-item" href="detail-page.html">Detail Page</a>
                  </li>
                </ul>
              </li> {% endcomment %}

              <li class="nav-item">
                <a class="btn custom-btn custom-border-btn smoothscroll" href="/register" style="color:rgb(255, 255, 255);font-size: 25px;">REGISTER</a>
              </li>
            </ul>
            

            <div class="ms-4">
              <a href="/login" class="btn custom-btn custom-border-btn smoothscroll" style="color: rgb(255, 255, 255);font-size: 25px;">LOGIN</a>
            </div>
          </div>
        </div>
        
      </nav>
      <section class="hero-section">
       
      </section>

      
            
            
            <ovrw style="font-size: 65px;position: relative;right: -750px; font-family:Broadway;"><b><i>I T S&nbsp;&nbsp;&nbsp;&nbsp;  Y O U R&nbsp;&nbsp;&nbsp;&nbsp; W O R L D </i></b></ovrw><br>
            <ovrw style="font-size: 55px;position: relative;right: -860px;font-family: Colonna MT;"><b>M&nbsp;A&nbsp;K&nbsp;E&nbsp;&nbsp;&nbsp;&nbsp; I&nbsp;T&nbsp;&nbsp;&nbsp;&nbsp; L&nbsp;A&nbsp;R&nbsp;G&nbsp;E !   </b></ovrw>
   </section>
    </main>
    

    <footer style="height: 250px; background-color: rgb(0, 0, 0);position: relative;top:850px; width: 100%;height: 300px;"> 
      <div class="ju" style="position: relative;right: 50px;">
      <a href="" style="color: #fff; text-decoration: none; margin: 0 10px; position: relative;left: 1600px;top:30px;font-size: 40px;"><i>Contact us</i></a>
      <a href="" style="color: #fff; text-decoration: none; margin: 0 10px;position: relative;left: 1000px;top:30px;font-size: 40px;"><i>About us</i></a>
      <a href="" style="color: #fff; text-decoration: none; margin: 0 10px;position: relative;left: 500px;top:30px;font-size: 40px;"><i>Careers</i></a>
      <a href="" style="color: #fff; text-decoration: none; margin: 0 10px;position: relative;left: 70px;top:30px;font-size: 40px;"><i>FAQs</i></a>
      </div>
      <div class="sm" style="position: relative;left: 1450px;bottom: 20px;">
      <a href=""><img src='../static/images/facebook.png'; style="height:70px;width:70px;position: relative;right:320px;top:100px;"></a>
      <a href=""><img src='../static/images/instagram.png'; style="height:90px;width:90px;position: relative;right:280px;top:100px;"></a>&nbsp;&nbsp;&nbsp;
      <a href=""><img src='../static/images/twitter.png'; style="height:75px;width:75px;position: relative;right:270px;top:100px;"></a>
      <a href=""><img src='../static/images/youtube.png'; style="height:75px;width:75px;position: relative;right:220px;top:100px;"></a>
      <hui style="color: white; position: relative;top:110px;right: 1000px;font-size:35px;"><b>FOLLOW US ON :</b></hui>
      </div>
    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
